
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>BigBlueButton - Open Source Webkonferenzen</title>
    <meta name="description" content="BigBlueButton ermöglicht hochqualitative digitale Lernräume und Konferenzen, insbesondere für Schulen und Universitäten">
    <meta name="keywords" content="BigBlueButton, Open Source Webkonferenz, Webkonferenz, Onlinekurse, Open Source, Desktop Sharing, Videokonferenzen, Video Collaboration, Presentation Sharing, Audio Sharing, Voice Collaboration, Public Chat, Webcam Sharing, Annotation, Whiteboard, Integrated Voice Over IP, Kollaborationssoftware, Online Kollaboration, Kollaboratives Lernen, Virtuelle Klassenräume">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="images/favicon.png">

    <link rel="stylesheet" href="/css/bijou.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bbb-bootstrap.css">
    <style>.navbar { margin-bottom: 20px; }</style>
  </head>
  <body>
    <div class='main'>

    <!-- Messages -->
    <div id='messages' class='hidden'>
    </div>

    <!-- Header -->
    <div class='navbar'>
      <div class='container'>
        <div class="logo">
          <img src="/images/bbb-logo.png" width="240" alt="BigBlueButton"/>
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class='container'>





      <!-- Welcome Message & Login Into Demo -->
      <div class="row">
	        <div class="span six html5clientOnly input-center">
	          <div class="join-meeting ">
			<% if (roomMissing) { %>
				<div class="alert danger"><p>Der Raum <em><%= roomName %></em> existiert nicht.</p></div>
				<br>
				<h4>Wollen Sie ihn erstellen?</h4>
				<p>(oder denken Sie sich einfach einen anderen eindeutigen Namen aus)</p>
			<% } else { %>
				<% if (roomBlocked) { %>
					<div class="alert danger"><p>Der gewünschte Raum <em><%= roomName %></em> existiert bereits.
					<br>
					<a href="/easy/<%= roomName %>">Hier klicken um <em><%= roomName %></em> jetzt beizutreten.</a></p></div>
					<h4>
					Oder eröffnen Sie einen neuen Raum:
					</h4>
				<% } else { %>
					<h4>Eine Konferenz erstellen:</h4>
					<p>(denken Sie sich einen eindeutigen Namen für den Raum aus)</p>
				<% } %>
			<% } %>
			<form method="POST" action="/easy">
			<input type="text" id="room" required="" name="room" <% if (roomName && roomMissing) { %>value="<%= roomName %>"<% } %>placeholder="Raumname" size="29" class="field input-default" autofocus="">
			<input type="password" id="room_password" name="room_password" placeholder="Passwort (optional)" size="29" class="field input-default">
			<input type="submit" value="Raum erstellen" class="submit_btn button success large"><br>
		</form>
          </div>
        </div>
      </div>
      <hr class="featurette-divider">
      <!-- Welcome Message & Login Into Demo -->
      <div class='row'>
       <div >
	<h2>BigBlueButton Webkonferenz</h2>
	          <p>BigBluebutton ist ein Open Source Webkonferenzsystem.</p>
	          <p>Mit BigBlueButton haben Sie die Möglichkeit Webkonferenzen und Webinare zu veranstalten. Es bietet einen enormen Funktionsumfang:
	            </p><ul>
	              <li>Audiokonferenz</li>
	              <li>Videokonferenz</li>
	              <li>Einbinden von Präsentationen, Bildern, Dokumenten usw.</li>
	              <li>Whiteboard für Moderator*in mit Freigabemöglichkeit zur gemeinsamen Nutzung</li>
	              <li>Geteilte Notizen</li>
	              <li>Privater und öffentlicher Chat</li>
	              <li>Breakout Rooms (Unterkonferenzen (mit festgelegter Dauer))</li>
	              <li>und noch einiges mehr</li>
	           </ul>
	          <p></p>
	          <p>BigBlueButton läuft ohne zusätzliche Installation auf aktuellen Versionen von Chrome, Firefox und Edge. Es muss nichts installiert werden! BigBlueButton läuft auch auf Mobilgeräten in Safari Mobile (Standardbrowser) auf iOS ab Version 12.2, und im Chrome-Browser auf Android ab Version 6.0. BigBlueButton läuft ebenfalls auf Chromebooks mit dem Chrome-Browser. Bitte benutzen Sie ein Headset für optimale Tonqualität.</p>          
		  <p>Für mehr Informationen besuchen Sie die englischsprachige <a href="https://bigbluebutton.org/">Website</a> oder die <a href="https://docs.bigbluebutton.org/">Dokumentation</a>.</p>

	<div class="span one"></div>

      </div>
    <footer>
      <div class='container'>

              <div class="row">
                <div class="span six first">
                        <p>BigBlueButton und das BigBlueButton logo sind Trademarks der <a href="http://bigbluebutton.org/">BigBlueButton Inc.</a></p>
          </div>
                <div class="span six last">
                </div>
              </div>


              <div class="row">
                <div class="span twelve center">
                        <p>Copyright &copy; 2020 BigBlueButton Inc.
                        </p>
                </div>
              </div>
      </div>
    </footer>
  </body>
</html>
